.chat-container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

.chat-list {
	border-right: solid 1px grey;
	flex-direction: column;
	width: 30%;
}

.chat-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 5px;
}

.chat-history {
	flex-grow: 1;
}

.chat-input-area {
	width: 100%;
	input {
		width: 100%;
	}
}

.full-content {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	background-color: lightgray;
	text-align: center;
}


html, body {
	height: 100%;
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		padding-top: 10px;
		border-bottom: solid 1px grey;
		min-height: 30px;
		text-align: center;
	}
}